@layer components {
  .monogram {
    fill: var(--textTitle);
    transition: fill var(--durationL) ease;
  }

  .highlight {
    fill: var(--accent);
    opacity: 1; /* fully visible */
    transform: scale3d(1, 1, 1); /* full scale */
    transform-origin: top;
    transition: opacity 0.1s ease var(--durationM);

    @media (--mediaUseMotion) {
      transition: transform var(--durationM) var(--bezierFastoutSlowin),
        opacity 0.1s ease var(--durationM);
    }

    /* Hover styles kept for smooth animation effects */
    :is(a:hover, .monogram:hover) & {
      opacity: 1;
      transform: scale3d(1, 1, 1);
      transform-origin: bottom;
      transition: opacity 0.1s ease;

      @media (--mediaUseMotion) {
        transition: transform var(--durationM) var(--bezierFastoutSlowin),
          opacity 0.1s ease;
      }
    }
  }
}
